.login {
  padding: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.login__form {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  max-width: 396px;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.login__button-container {
  margin: 0 auto;
  width: 396px;
}

.login__welcome {
  margin: 40px 0;
  padding: 0;
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.login__link {
  margin-top: 159px;
  width: 100%;
  height: 45px;
  background: #ff6838;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
}

.login__link_disabled {
  margin-top: 159px;
  width: 100%;
  height: 45px;
  background: #a0a0a0;
  border: none;
  border-radius: 3px;
  color: #fff;
}

.login__link:hover {
  opacity: 0.8;
}

.login__input {
  margin: 10px 0 20px;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  background: #f9f9f9;
  color: #000;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login__signin {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.login__login-text {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #a0a0a0;
}

.login__login-link {
  margin: 0;
  padding: 0;
  margin-left: 6px;
  color: #ff6838;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

.login__login-link:hover {
  cursor: pointer;
  opacity: 0.7;
}

.login__label {
  color: #a0a0a0;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.error {
  margin: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  box-sizing: border-box;
  position: absolute;
}

.email-error {
  top: 220px;
  left: 0;
}

.password-error {
  top: 308px;
  left: 0;
}

.login__span {
  display: block;
}


@media screen and (max-width: 500px) {

  .login__form {
    margin: 0 auto;
    max-width: 260px;
    align-items: center;
    justify-content: space-between;
  }

  .login__label {
    align-self: flex-start;
  }

  .login__link {
    max-width: 260px;
  }

  .login__link_disabled {
    max-width: 260px;
  }

  .login__login-text {
    font-size: 12px;
  }
  .login__login-link {
    font-size: 12px;
  }
}